<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Good Site for Game</h1>
        <p>
            <a href="/publisher" class="btn btn-primary">Check out Publishers</a>
            <a href="/game" class="btn btn-secondary">Check Out Games</a>
        </p>
    </div>
</section>